
html {
    scroll-behavior: smooth;
}

body {
    max-width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: "vdl-v7marugothic", sans-serif;
    font-weight: 700;
    position: relative;
    color: #462e31;
    line-height: 1;
}

/* =================== reusesable style =================== */
.more-btn {
    font-weight: 800;
    text-align: center;
    margin: 20px auto 0;
}

h2 {
    text-align: center;
}

h2 img {
    width: 218px;
    height: auto;
}

ul {
    margin: 0;
    text-align: center;
    padding: 0;
}

.more-btn a{
    padding: 12px 51px;
    border-radius: 100px;
    font-size: 14px;
    text-decoration: none;
    background-color: #462e31;
    color: #fff;
    letter-spacing: 0.25em;
}

.hide {
    display: none !important;
}
.show {
    display: flex !important;
}

/* =================== loader =================== */
.loader-container {
    background-color: #fff;
    width: 100%;
    min-height: 100vh;
    position: relative;
    z-index: 9999;
    transition: .3s;
}

.loader {
    position: absolute;
    top: 30%;
    left: 28%;
}

.loader-text-1 {
    position: absolute;
    top: 65%;
    left: 67%;
    transform: translate(-10%, 40%);
    opacity: 0;
    animation: pop-in 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) .5s forwards;
}

.loader-text-2 {
    position: absolute;
    top: 3%;
    left: 5%;
    transform: translate(10%, 10%);
    opacity: 0;
    animation: pop-in 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) .8s forwards;
}

@keyframes pop-in {
    from {
        width: 50px;
        height: 50px;
        opacity: 0;
    }

    to {
        width: 130px;
        height: 130px;
        opacity: 1;
    }
}

/* =================== main wrapper =================== */

#main {
    display: none;
}

.wrapper-main {
    animation: fadeInOut 1s linear 0s 1 forwards;
    opacity: 0;
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: #d3ecbf;
}

.wrapper-main h1 {
    margin-top: 0;
    text-align: center;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

/* =================== scroll top button =================== */
.show-scroll {
    display: block !important;
}
#scroll-top {
    position: fixed;
    bottom: 2%;
    left: 2%;
    z-index: 9999;
    display: none;
}
#scroll-top .img-wrap {
    position: relative;
    width: 100px;
    cursor: pointer;
}
#scroll-top .img-wrap .spear {
    width: 40px;
}

/* =================== header =================== */
header {
    position: fixed;
    z-index: 9999;
    background-color: #fff;
    font-weight: 700;
    width: 100vw;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-nav {
    display: none;
}

.header-wrapper {
    display: flex;
    position: relative;
    width: 100%;
}

header h1 {
    text-align: center;
    height: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1 img {
    margin: auto;
    width: 132px;
    height: 33px;
}

.menu-btn {
    background-image: url("./images/tx_menu_01.png");
    background-size: 26px 8px;
    background-position: left 0px bottom 10px;
    background-repeat: no-repeat;
    z-index: 9999;
    background-color: #fff;
    position: absolute;
    right: 0;
    height: 60px;
    width: 55px;
    flex-direction: column;
    cursor: pointer;
    display: flex;
}
.close-btn {
    background-image: url(./images/tx_menu_02.png);
    background-size: 24px 8px;
    background-position: left 3px bottom 11px;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    height: 60px;
    width: 59px;
    z-index: 9999;
    display: none;
    flex-direction: column;
}
.close-btn:before {
    content: '';
    display: block;
    height: 4px;
    width: 29px;
    border-radius: 4px;
    background-color: #ff96d2;
    position: absolute;
    bottom: 33px;
    transform: rotate(40deg);
    
}
.close-btn:after {
    content: '';
    display: block;
    height: 4px;
    width: 29px;
    border-radius: 4px;
    background-color: #ff96d2;
    position: absolute;
    bottom: 33px;
    transform: rotate(-40deg);
}


.menu-wrapper {
    position: relative;
    width: inherit;
    height: inherit;
}

.menu-btn span {
    display: block;
    height: 4px;
    width: 25px;
    border-radius: 4px;
    background-color: #ff96d2;
    position: absolute;
    bottom: 33px;
}

.menu-btn span:before {
    content: '';
    display: block;
    height: 4px;
    width: 25px;
    border-radius: 4px;
    background-color: #ff96d2;
    position: absolute;
    bottom: 8px;
}

.menu-btn span:after {
    content: '';
    display: block;
    height: 4px;
    width: 25px;
    border-radius: 4px;
    background-color: #ff96d2;
    position: absolute;
    top: 8px;
}

/* =================== mobile menu =================== */
.mobile-menu {
    background: #fff;
    position: fixed;
    left: 0;
    top: -100%;
    z-index: 9999;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all 0.5s;
}
.close-mobile-menu {
    top: -100% !important;
}
.show-mobile-menu {
    top: 60px !important;
}
.menu {
    width: 370px;
    margin: 10px auto 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.menu-content {
    height: calc(100vh - 60px);
    position: relative;
}
.menu li {
    position: relative;
}
.menu li a {
    display: block;
    color: #ff96d2;
    width: 124px;
    height: 116px;
    text-decoration: none;
    text-align: center;
    font-size: 13px;
    text-indent: 500%;
    white-space: nowrap;
    overflow: hidden;
}
.menu li:after {
    content: '';
    display: block;
    position: absolute;
    right: 0%;
    bottom: 8px;
    height: 80px;
    width: 0.5px;
    background-color: #ff96d2;
}

.menu li:before {
    content: '';
    display: block;
    position: absolute;
    left: 46%;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
    bottom: -10px;
    width: 80px;
    height: 0.5px;
    background-color: #ff96d2;
}

.menu li:nth-of-type(1)::before {
    left: 54%;
}
.menu li:nth-of-type(1) a {
    background: url(./images/ic_hum_01_sp.png) no-repeat left 32px bottom 21px/65px 59px;
}
.menu li:nth-of-type(2) a {
    width: 116px;
    background: url(./images/ic_hum_02_sp.png) no-repeat center bottom 21px/65px 59px;
}
.menu li:nth-of-type(3) a {
    width: 122px;
    background: url(./images/ic_hum_03_sp.png) no-repeat right 33px bottom 21px/65px 59px;
}
.menu li:nth-of-type(4) a {
    width: 124px;
    height: 120px;
    background: url(./images/ic_hum_04_sp.png) no-repeat left 32px bottom 25px/65px 59px;
}
.menu li:nth-of-type(5) a {
    width: 116px;
    height: 120px;
    background: url(./images/ic_hum_05_sp.png) no-repeat center bottom 26px/65px 59px;
}
.menu li:nth-of-type(6) a {
    width: 122px;
    height: 120px;
    background: url(./images/ic_hum_06_sp.png) no-repeat right 34px bottom 25px/65px 59px;
}
.menu li:nth-of-type(7) a {
    width: 124px;
    background: url(./images/ic_hum_07_sp.png) no-repeat left 32px bottom 20px/65px 59px;
}
.menu li:nth-of-type(8) a {
    width: 116px;
    background: url(./images/ic_hum_08_sp.png) no-repeat center bottom 20px/65px 59px;
}
.menu li:nth-of-type(9) a {
    width: 122px;
    background: url(./images/ic_hum_09_sp.png) no-repeat right 34px bottom 19px/65px 59px;
}

.menu-footer {
    position: absolute;
    width: 100%;
    height: 0;
    bottom: 0;
    padding-top: calc(292 / 750 * 100%);
    background: url(./images/bg_hum_01.png) center bottom/ cover no-repeat;
}

/* =================== banner =================== */

.banner {
    position: relative;
    background: url("./images/banner.jpeg");
    height: calc(100vh - 60px);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 60px;
}

.twitter-link-container {
    position: absolute;
    top: 4rem;
    left: .6rem;
    z-index: 9997;
}

.twitter-link img {
    width: 103px;
    height: auto;
}

.movie-container {
    background: url("./images/bt_kv_03.png") no-repeat left top/198px 160px;
    width: 198px;
    height: 160px;
    position: absolute;
    bottom: 4rem;
    right: .5rem;
}
.movie-container:after {
    z-index: 9996;
    position: absolute;
    display: inline-block;
    content: '';
    bottom: -5px;
    right: 0px;
    width: 68px;
    height: 65px;
    background: url(./images/bt_kv_04.png) no-repeat top left/68px 65px;
}

.video-modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-modal-content {
    position: relative;
    margin: 0;
}

.video-modal-close {
    position: absolute;
    right: 0;
    top: -55px;
    font-size: 1rem;
    font-weight: bold;
    color: #888;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    display: block;
}

.movie-content {
    position: relative;
    width: 109px;
    height: 61.31px;
}

.video-modal-trigger {
    background-image: url("./images/mqdefault.jpeg");
    display: block;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    position: absolute;
    top: 85px;
    left: 45px;
    cursor: pointer;
}

.video-modal-trigger:after {
    position: absolute;
    display: inline-block;
    content: '';
    top: 18px;
    right: 41px;
    width: 25px;
    height: 25px;
    background: url(./images/bt_youtube.png) no-repeat top left/25px 25px;
}

/* =================== main =================== */
main {
    position: relative;
    border-top: solid 3px #5f3e42;
    background: url("./images/bg_03_sp.jpeg") no-repeat center top 83px/345px auto;
    width: 100%;
}

.tree_sp_left_01 {
    background: url("./images/bg_2_tree_sp_left_01.png") no-repeat left top/122px 834px;
    position: absolute;
    top: -37px;
    left: 0px;
    width: 122px;
    height: 834px;
}
.tree_sp_right_01 {
    background: url("./images/bg_2_tree_sp_right_01.png") no-repeat left top/129px 300px;
    position: absolute;
    top: -41px;
    right: 0px;
    width: 129px;
    height: 300px;
}
.tree_sp_right_02 {
    background: url("./images/bg_2_tree_sp_right_02.png") no-repeat left top/224px 5978px;
    position: absolute;
    top: 172px;
    right: 0px;
    width: 224px;
    height: 5978px;
    z-index: 9998;
    pointer-events: none;
}
.tree_sp_left_02 {
    z-index: 910;
    position: absolute;
    width: 220px;
    height: 5460px;
    background: url(./images/bg_2_tree_sp_left_02.png) no-repeat left top/220px 5460px;
    top: 771px;
    left: 0px;
    pointer-events: none;
}
.bg_sp_chara_chiikawa3 {
    background: url("./images/bg_chara_01.png") no-repeat left top/58px 70px;
    z-index: 905;
    position: absolute;
    width: 58px;
    height: 70px;
    top: 178px;
    right: 87px;
    animation: animation-hyokkori-chiikawa .8s linear forwards, shake-chiikawa 2s ease 1s infinite normal none;
    opacity: 1;
}

.bg_sp_chara_hachi {
    z-index: 905;
    position: absolute;
    width: 61px;
    height: 72px;
    background: url(./images/bg_chara_02.png) no-repeat left top/61px 72px;
    top: 774px;
    left: 52px;
    opacity: 0;
    animation: animation-hyokkori-hachiware .8s linear forwards, shake-hachiware 2s ease 1s infinite normal none;
    opacity: 1;
}

.bg_chara_usagi {
    z-index: 925;
    position: absolute;
    width: 50px;
    height: 90px;
    background: url(./images/bg_chara_03.png) no-repeat left top;
    top: 1852px;
    right: 150px;
    /* left: 165px; */
    animation: animation-jump-usagi 3s linear 0s infinite;
    background-size: contain;
}

.bg_chara_momo {
    z-index: 925;
    position: absolute;
    width: 81.25px;
    height: 69.75px;
    background: url(./images/bg_chara_04.png) no-repeat left top;
    top: 2580px;
    left: 230px;
    animation: animation-glider-momonga 2s ease 1s infinite normal none;
    background-size: cover;
}

.bg_chara_hachi2 {
    width: 56px;
    height: 65px;
    z-index: 900;
    position: absolute;
    top: 3130px;
    left: 61px;
    background: url(./images/bg_chara_09_sabun.png) no-repeat top left 0/168px 336px;
    animation: sp-animation-parapara-hachi 1.0s steps(2) infinite;
}
@keyframes sp-animation-parapara-hachi {
    100% {
        background-position: -116.5px 0;
    }
}

.bg_sp_chara_chiikawa2 {
    z-index: 900;
    position: absolute;
    width: 53px;
    height: 55px;
    background: url(./images/bg_chara_07.png) no-repeat left top/53px 55px;
    top: 5490px;
    left: 135px;
    animation: animation-jump-chiikawa 3s linear 0s infinite;
}
@keyframes animation-jump-chiikawa {
    0% {
        transform: scale(1, 1) translate(0%, 0%);
    }
    3% {
        transform: scale(1.1, 0.9) translate(0%, 5%);
    }
    13% {
        transform: scale(1.2, 0.8) translate(0%, 15%);
    }
    17% {
        transform: scale(1, 1) translate(0%, 0%);
    }
    20% {
        transform: scale(0.9, 1.2) translate(0%, -50%);
    }
    25% {
        transform: scale(0.9, 1.2) translate(0%, -20%);
    }
    28% {
        transform: scale(1.2, 0.8) translate(0%, 15%);
    }
    33% {
        transform: scale(1, 1) translate(0%, 0%);
    }
    40% {
        transform: scale(1.1, 0.95) translate(0%, 3%);
    }
    45% {
        transform: scale(1, 1) translate(0%, 0%);
    }
}

.bg_sp_chara_chiikawa {
    width: 56px;
    height: 74px;
    z-index: 915;
    position: absolute;
    top: 3209px;
    left: 18px;
    background: url(./images/bg_chara_09_sabun.png) no-repeat top -67px left 0/168px 336px;
    animation: sp-animation-parapara-chiikawa 1.0s steps(2) infinite;
}
@keyframes sp-animation-parapara-chiikawa {
    100% {
        background-position: -117px -66.5px;
    }
}

.bg_sp_chara_usagi2 {
    z-index: 900;
    position: absolute;
    width: 69px;
    height: 76px;
    background: url(./images/bg_chara_06.png) no-repeat left top/69px 76px;
    top: 4275px;
    right: 58px;
    animation: shake 2s ease 0s infinite normal none;
    transform-origin: 120% 120%;
}
@keyframes shake {
    0% {
        transform: rotate(7deg);
    }
    50% {
        transform: rotate(-7deg);
    }
    100% {
        transform: rotate(7deg);
    }
}

.bg_sp_chara_hachi3 {
    z-index: 923;
    position: absolute;
    width: 52px;
    height: 59px;
    background: url(../images/bg_chara_08.png) no-repeat left top/52px 59px;
    top: 6025px;
    right: 135px;
    animation: animation-escape-hachiware 2s ease 1s infinite normal none;
    transform-origin: 40% 120%;
}
@keyframes animation-escape-hachiware {
    0% {
        transform: rotate(-10deg);
    }
    50% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(-10deg);
    }
}

.bg_sp_chara_yoroi{
    width: 82px;
    height: 82px;
    z-index: 900;
    position: absolute;
    top: 6119px;
    left: 29px;
    background: url(./images/bg_chara_09_sabun.png) no-repeat top -221px left 0/168px 336px;
    animation: sp-animation-parapara-yoroi 1.0s steps(2) infinite;
}
@keyframes sp-animation-parapara-yoroi {
    100% {
        background-position: -168px -221px;
    }
}

.bg_sp_chara_kuri {
    width: 57px;
    height: 76px;
    z-index: 900;
    position: absolute;
    top: 4823px;
    left: 108px;
    background: url(./images/bg_chara_10_sabun.png) no-repeat top 0px left 0/200% 100%;
    animation: sp-animation-parapara-kuri 1.0s steps(2) infinite;
}
@keyframes sp-animation-parapara-kuri {
    100% {
        background-position: -114px 0px;
    }
}

.bg_sp_chara_oishii {
    z-index: 925;
    position: absolute;
    width: 26px;
    height: 43px;
    background: url(../images/bg_chara_05.png) no-repeat left top/26px 43px;
    top: 3805px;
    right: 50px;
    animation: float 3s ease 0s infinite normal none;
}
@keyframes float {
    0% {
        transform: translate(0, 30%);
    }
    50% {
        transform: translate(0, 10%);
    }
    100% {
        transform: translate(0, 30%);
    }
}


@keyframes animation-glider-momonga {
    0% {
        transform: rotate(10deg);
    }
    50% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(10deg);
    }
}

@keyframes animation-jump-usagi {
    0% {
        transform: scale(1, 1) translate(0%, 0%);
    }
    3% {
        transform: scale(1.1, 0.9) translate(0%, 5%);
    }
    13% {
        transform: scale(1.2, 0.8) translate(0%, 15%);
    }
    17% {
        transform: scale(1, 1) translate(0%, 0%);
    }
    20% {
        transform: scale(0.9, 1.2) translate(0%, -50%);
    }
    25% {
        transform: scale(0.9, 1.2) translate(0%, -20%);
    }
    28% {
        transform: scale(1.2, 0.8) translate(0%, 15%);
    }
    33% {
        transform: scale(1, 1) translate(0%, 0%);
    }
    40% {
        transform: scale(1.1, 0.95) translate(0%, 3%);
    }
    45% {
        transform: scale(1, 1) translate(0%, 0%);
    }
}

@keyframes animation-hyokkori-chiikawa {
    0% {
        transform: scale(.1, .1);
    }
    25% {
        transform: translate(-30%, -60%) scale(1.0, 1.2);
    }
    40% {
        transform: translate(-30%, -60%) scale(1.3, .8);
    }
    55% {
        transform: translate(-30%, -60%) scale(1.0, 1.2);
    }
    70% {
        transform: translate(-30%, -60%) scale(1.2, .9);
    }
    85% {
        transform: translate(-30%, -60%) scale(1, 1.1);
    }
    100% {
        transform: translate(-30%, -60%) scale(1, 1);
    }
}
@keyframes shake-chiikawa {
    0% {
        transform-origin: 150% 150%;
        transform: translate(-30%, -60%) rotate(0deg);
    }
    50% {
        transform-origin: 150% 150%;
        transform: translate(-30%, -60%) rotate(-7deg);
    }
    100% {
        transform-origin: 150% 150%;
        transform: translate(-30%, -60%) rotate(0deg);
    }
}

@keyframes animation-hyokkori-hachiware {
    0% {
        transform: scale(.1, .1);
    }
    25% {
        transform: translate(36%, -58%) scale(1.0, 1.2);
    }
    40% {
        transform: translate(36%, -58%) scale(1.3, .8);
    }
    55% {
        transform: translate(36%, -58%) scale(1.0, 1.2);
    }
    70% {
        transform: translate(36%, -58%) scale(1.2, .9);
    }
    85% {
        transform: translate(36%, -58%) scale(1, 1.1);
    }
    100% {
        transform: translate(36%, -58%) scale(1.0, 1.0);
    }
}

@keyframes shake-hachiware {
    0% {
        transform-origin: -30% 240%;
        transform: translate(36%, -58%) rotate(0deg);
    }
    50% {
        transform-origin: -30% 240%;
        transform: translate(36%, -58%) rotate(3deg);
    }
    100% {
        transform-origin: -30% 240%;
        transform: translate(36%, -58%) rotate(0deg);
    }
}

/* =================== youtube content =================== */
.youtube-content {
    padding: 230px 0 80px;
    height: 425px;
    z-index: 915;
    position: relative;
}
.youtube-content h2 {
    text-align: center;
}
.youtube-content h2 img{
    width: 218px;
    height: auto;
    vertical-align: top;
}

.video-list {
    width: 345px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0 auto -5px;
    text-align: center;
    flex-wrap: wrap;
    padding: 0;
}

.video-list li {
    width: 140px;
    background-color: #fff578;
    position: relative;
    border-radius: 8px;
    padding: 12px 12px 8px 12px;
    margin-bottom: 1rem;
}
.youtube_list li:nth-of-type(odd) {
    margin-left: 0;
}

.yt-list-btn {
    padding-top: 56.25%;
    width: 100%;
    position: relative;
    cursor: pointer;
}
.yt-list-btn:after {
    position: absolute;
    display: inline-block;
    content: '';
    width: 30px;
    height: 30px;
    background: url(./images/bt_youtube.png) no-repeat left top/30px 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#btn-1 {
    background: url("./images/mqdefault_1.jpeg");
    background-size: cover;
    background-position: center center;
}

#btn-2 {
    background: url("./images/mqdefault_2.jpeg");
    background-size: cover;
    background-position: center center;
}

#btn-3 {
    background: url("./images/mqdefault_3.jpeg");
    background-size: cover;
    background-position: center center;
}

#btn-4 {
    background: url("./images/mqdefault_4.jpeg");
    background-size: cover;
    background-position: center center;
}

.video-list li .date {
    margin: 5px 0 5px;
    font-size: 8px;
    letter-spacing: 0.05em;
    text-align: left;
}

.video-list li .date span {
    font-size: 6px;
    padding: 0 3px;
}

.video-list li .yt-title {
    font-size: 12px;
    line-height: 1.3;
    font-weight: 800;
    text-align: left;
}

.video-list li:first-child:after {
    position: absolute;
    display: inline-block;
    content: '';
    top: -12px;
    left: -12px;
    width: 49px;
    height: 46px;
    background: url(../images/ic_new.png) no-repeat top left/49px 46px;
}



/* =================== info section =================== */
.info-section {
    padding-top: 130px;
    z-index: 9990;
    position: relative;
}

.info-wrap {
    background: #fff;
    position: relative;
    margin-top: 0;
    padding: 19px 0 61px;

}
.info-wrap:before {
    position: absolute;
    display: inline-block;
    content: '';
    top: -8px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1280px;
    height: 27px;
    background: url(./images/bg_01.png) no-repeat top center/1280px 27px;
}
.info-wrap:after {
    position: absolute;
    display: inline-block;
    content: '';
    bottom: -30px;
    left: 50%;
    right: 0;
    transform: translate(-50%, -50%);
    width: 1280px;
    height: 27px;
    background: url(./images/bg_02.png) no-repeat top center/1280px 27px;
}
.info-wrap h2 {
    text-align: center;
}

ul li {
    list-style: none;
}

.info-list {
    width: 345px;
    margin: 0 auto -2px;
    font-size: 14px;
    line-height: 16px;
    padding: 0;
    border: 0;
    outline: 0;
}

.info-list li {
    display: block;
    letter-spacing: 0em;
    border-bottom: solid 1px #6a3f39;
}

.info-list li:first-child {
    padding: 0 5px 8px;
}
.info-list li {
    padding: 8px 5px;
    letter-spacing: 0em;
}

.info-list .date {
    font-size: 11px;
    padding-bottom: 3px;
    color: #ff82d2;
    letter-spacing: 0.05em;
    padding-right: 32px;
    font-weight: 800;
}
.info-list .title {
    cursor: pointer;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
    margin: 0;
}

.info-btn {
    margin-top: 45px;
}

/* =================== intro section =================== */
.intro-wrap {
    padding: 113px 0 70px;
    height: 323px;
}
.intro-wrap h2 {
    padding-bottom: 32px;
    font-size: 24px;
    text-align: center;
}


.intro-text {
    text-indent: 500%;
    white-space: nowrap;
    overflow: hidden;
    background: url(./images/tx_intro_sp.png) no-repeat left top/304px 248px;
    width: 304px;
    height: 248px;
    margin: auto;
}

/* =================== epi section =================== */
.epi-section {
    padding: 174px 0 40px;
    height: 521px;
}
.epi-wrap {
    padding-bottom: 29px;
}
.epi-wrap h2 {
    text-align: center;
}

.epi-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    padding: 0;
    width: 345px;
    padding-bottom: 11px;
}

.epi-list li {
    position: relative;
}

.epi-list li img {
    width: 165px;
    height: auto;
    vertical-align: top;
}

.epi-list li .title {
    margin-top: 7px;
    font-size: 13px;
    width: 165px;
    line-height: 1.3;
    font-weight: 800;
    text-align: left;
}

.epi-list li span.epi-number {
    position: absolute;
    display: inline-block;
    top: -9px;
    left: -9px;
    width: 34px;
    height: 33px;
    padding-top: 11px;
    background: url(./images/ic_epi_01.png) no-repeat top left/34px 33px;
    font-size: 11px;
    color: #ff82d2;
    text-align: center;
}

/* =================== chara section =================== */
.chara-wrap {
    padding: 196px 0 70px;
    height: 312px;
    z-index: 1000;
    position: relative;
}
.chara-wrap h2 {
    padding-bottom: 17px;
    text-align: center;
}

.chara-list {
    position: relative;
    width: 360px;
    opacity: 1;
    margin: auto;
    margin-bottom: -47px;
    margin-top: -13px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 44px;
    padding-left: 0;
}

.chara-list li {
    display: flex;
    align-items: flex-end;
}

.chara-list li img {
    width: 103px;
    height: auto;
    vertical-align: top;
}

.chara-btn {
    margin: 45px auto 0;
}

/* =================== staff section =================== */
.staff-wrap {
    /* height: 500px; */
    padding: 160px 0 0px;
    position: relative;
    z-index: 1300;
}

.staff-wrap h2 {
    padding-bottom: 22px;
    text-align: center;
}

.staff-list, .cast-list {
    font-size: 12px;
    line-height: 1.75;
    text-align: center;
    padding: 0;
    letter-spacing: 0.1em;
    margin-bottom: 20px;
    font-weight: 800;
}

/* =================== anime-info section =================== */

.anime-info-wrap {
    padding-bottom: 22px;
    margin-top: 0;
    padding: 5px 0 57px;
    position: relative;
    background-color: #fff;
    z-index: 10;
    margin-bottom: 40px;
}
.anime-info-wrap h2 {
    padding-top: 0;
    margin: 0;
}

.anime-info-wrap:before {
    position: absolute;
    display: inline-block;
    content: '';
    top: -8px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1280px;
    height: 27px;
    background: url(../images/bg_01.png) no-repeat top center/1280px 27px;
}

.anime-info-wrap:after {
    position: absolute;
    display: inline-block;
    content: '';
    bottom: -30px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1280px;
    height: 27px;
    background: url(./images/bg_02.png) no-repeat top center/1280px 27px;
}

.anime-tv {
    width: 343px;
    margin: auto;
    font-size: 12px;
    line-height: 1.6;
    display: flex;
    font-weight: 800;
    align-items: center;
}

.anime-tv h3 {
    width: 59px;
    height: 56px;
    background: url(./images/ic_anime_01.png) no-repeat left top 5px/59px 50px;
    background-size: 100%;
    margin-right: 10px;
    overflow: hidden;
    text-indent: 100%;
    display: inline-block;
}

.anime-tv .tv-box {
    width: 272px;
    height: 63px;
    background: url(./images/tx_anime_01_sp.png) no-repeat left top/272px 63px;
    display: inline-block;
}

.anime-deli {
    margin: 0 auto 0;
    padding-top: 15px;
    width: 343px;
    font-size: 12px;
    line-height: 1.6;
    display: flex;
    align-items: center;
}

.anime-deli h3 {
    width: 59px;
    height: 55px;
    background: url(./images/ic_anime_03.png) no-repeat left top 4px/59px 50px;
    background-size: 100%;
    margin-right: 10px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}

.anime-deli .deli-box {
    overflow: hidden;
    width: 236px;
    height: 95px;
    background: url(./images/tx_anime_02_sp_2.png) no-repeat left top/236px 95px;
}


/* =================== goods section =================== */
.goods-wrap {
    padding: 60px 0 55px;
    height: 258px;
    z-index: 1300;
    position: relative;
}

.goods-list img {
    width: 305px;
    height: auto;
}

.goods-list li {
    margin-top: 17px;
}
.goods-list li:first-child {
    margin-top: 0px;
}

/* =================== dvd section =================== */
.dvd-wrap {
    padding: 184px 0 0px;
    position: relative;
    z-index: 1300;
    height: 635px;
}
/* =============== swiper =============== */
.swiper {
    padding: 0 70px !important;
    max-width: 300px !important;
}


.swiper-slide {
    margin-right: 80px !important;
    box-sizing: border-box !important;
    display: flex !important;
    justify-content: center !important;
}

.swiper-box {
    width: 235px;
}
.swiper-box img {
    width: 100%;
}
.box-content {
    background: #fff;
    padding: 10px 20px 10px;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 6px;
    text-align: center;
}
.box-content p {
    font-size: 14px;
    height: 60px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

.swiper-box .box-title {
    font-size: 11px;
    letter-spacing: 2px;
    padding: 3px 20px;
    text-align: center;
    background-color: #fff578;
    border-radius: 50px;
    color: #ff86cf;
    font-weight: 800;
}

.swiper-button-prev {
    width: 30px !important;
    height: 30px !important;
    left: 26px !important;
    background-image: url(./images/swiper_prev.png);
    background-size: cover;
}
.swiper-button-prev:after {
    content: '' !important;
}

.swiper-button-next {
    width: 30px !important;
    height: 30px !important;
    right: 26px !important;
    background-image: url(./images/swiper_next.png);
    background-size: cover;
}
.swiper-button-next:after {
    content: '' !important;
}
/* =================== twitter section =================== */
.twitter-section {
    padding-bottom: 279px;
}

.twitter-wrap {
    position: relative;
    width: 345px;
    height: 250px;
    overflow: scroll;
    z-index: 1300;
    margin: 0 auto;
    background: #fff578;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    
}

.meza-wrap {
    width: 345px;
    margin: 30px auto 0;
    display: flex;
    justify-content: space-between;
}

.meza img {
    width: 165px;
    height: auto;
}

/* =================== footer =================== */
.footer-wrap {
    padding: 240px 0 0px;
    font-size: 12px;
    background: url(./images/bg_foot_01_sp.png) no-repeat center bottom/1050px 265px;
    color: #fff;
    text-align: center;
    width: 2560px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0%);
    position: relative;
}

footer .chara-list {
    position: absolute;
    top: -22px;
    left: 43.5%;
    width: 342px;
    height: 107px;
    display: flex;
    justify-content: space-between;
}

.foot-chara-01 {
    width: 107px;
    height: 127px;
    background: url(./images/bg_foot_03.png) no-repeat top 0 left 0/240px 425px;
    margin-top: 30px;
    animation: sp-animation-parapara-footer-hachi 1.0s steps(2) infinite;
}
@keyframes sp-animation-parapara-footer-hachi {
    100% {
        background-position: -220px 0;
    }
}

.foot-chara-02 {
    width: 108px;
    height: 122px;
    background: url(./images/bg_foot_chiikawa.png) no-repeat top 0 left 0/200% 100%;
    margin-top: 35px;
    animation: sp-animation-parapara-footer-chiikawa 1.0s steps(2) infinite;
}
@keyframes sp-animation-parapara-footer-chiikawa {
    100% {
        background-position: -216px 0;
    }
}

.foot-chara-03 {
    width: 117px;
    height: 157px;
    background: url(./images/bg_foot_usagi.png) no-repeat top 0 left 0/200% 100%;
    animation: sp-animation-parapara-footer-usagi 1.0s steps(2) infinite;
}
@keyframes sp-animation-parapara-footer-usagi {
    100% {
        background-position: -234px 0;
    }
}

.footer-info {
    margin-top: -90px;
}

.footer-info .share {
    margin-top: 7px;
    letter-spacing: 0.1rem;
}

.footer-sns {
    width: 95px;
    margin: 11px auto 11px;
    display: flex;
    justify-content: space-between;
}
.footer-sns li {
    width: 23px;
    height: auto;
}
.footer-sns li img {
    width: 23px;
    height: auto;
    vertical-align: top;
}

footer .copyright {
    font-size: 8px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    content: '';
    background: url(./images/tx_copy_sp.png) no-repeat top left/122px 8px;
    width: 122px;
    height: 8px;
}


/* big screen */
@media screen and (min-width: 1200px) {
    main {
        background: url(./images/bg_03.jpg) no-repeat center top 160px ;
        padding-top: 60px;
        width: 100%;
    }

    .header-wrapper {
        width: 1060px;
        justify-content: space-between;
    }
    .wrapper-main h1 {
        margin-top: 40px;
    }
    header {
        height: 120px;
    }

    .menu-btn {
        display: none;
    }

    .header-nav {
        display: block;
    }
    .header-nav .menu {
        width: 844px;
        display: flex;
        flex-wrap: nowrap;
    }

    .menu li:before {
        display: none;
    }
    .menu li:after {
        display: none;
    }
    .menu li:nth-of-type(1) a {
        width: 93px;
        background: url(./images/ic_hum_01.png) no-repeat center bottom 25px;
    }
    .menu li:nth-of-type(2) a {
        width: 93px;
        background: url(./images/ic_hum_02.png) no-repeat center bottom 25px;
    }
    .menu li:nth-of-type(3) a {
        width: 93px;
        background: url(./images/ic_hum_03.png) no-repeat center bottom 25px;
    }
    .menu li:nth-of-type(4) a {
        width: 101px;
        background: url(./images/ic_hum_04.png) no-repeat center bottom 25px;
    }
    .menu li:nth-of-type(5) a {
        width: 97px;
        background: url(./images/ic_hum_05.png) no-repeat center bottom 25px;
    }
    .menu li:nth-of-type(6) a {
        width: 104px;
        background: url(./images/ic_hum_06.png) no-repeat center bottom 25px;
    }
    .menu li:nth-of-type(7) a {
        width: 85px;
        background: url(./images/ic_hum_07.png) no-repeat center bottom 25px;
    }
    .menu li:nth-of-type(8) a {
        width: 96px;
        background: url(./images/ic_hum_08.png) no-repeat center bottom 25px;
    }
    .menu li:nth-of-type(9) a {
        width: 82px;
        background: url(./images/ic_hum_09.png) no-repeat center bottom 25px;
    }

    .menu li a {
        height: 120px;
    }

    .banner {
        background: url("./images/kv_01.jpeg");
        width: 100%;
        height: calc(100vh - 120px);
        margin-top: 120px;
        background-size: cover;
    }

    .twitter-link img {
        width: 200px;
    }
    .twitter-link-container {
        bottom: 10px;
        top: initial;
        right: 350px;
        left: initial;
        z-index: 9998;
    }

    .movie-container {
        width: 378px;
        height: 321px;
        background: url(./images/bt_kv_03.png) no-repeat;
        z-index: 9997;
    }
    .movie-content {
        padding: 156px 0 0 74px;
    }
    .video-modal-trigger {
        width: 218px;
        position: relative;
        padding-top: 56.25%;
        top: initial;
        left: initial;
    }
    .video-modal-trigger:after {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }


    h2 {
        font-size: 48px;
        text-align: center;
        padding-bottom: 36px;
        margin: 0;
    }

    .youtube-content {
        padding: 140px 0 220px;
    }

    .youtube-content h2 img {
        width: initial;
    }

    .video-list {
        flex-wrap: nowrap;
        width: 750px;
        margin: auto;
    }

    .video-list li {
        padding: 15px 15px 20px 15px;
        width: 210px;
    }
    .video-list li .date {
        margin: 8px 0 10px;
        font-size: 14px;
    }

    .video-list .sp {
        display: none;
    }

    .more-btn {
        margin: 80px auto 0;
    }
    .more-btn a {
        font-size: 24px;
        letter-spacing: 0.25em;
        padding: 18px 85px 22px;
    }

    .tree_sp_left_01 {
        width: 599px;
        height: 1567px;
        background: url(./images/bg_2_tree_left_01.png) no-repeat left top;
        top: -93px;
        left: -320px;
        z-index: 9995;
    }
    .tree_sp_left_02 {
        z-index: 9997;
        position: absolute;
        width: 1157px;
        height: 3126px;
        background: url(./images/bg_2_tree_left_02.png) no-repeat left top;
        top: 1339px;
        left: -320px;
    }
    .tree_sp_right_01 {
        position: absolute;
        width: 764px;
        height: 9215px;
        background: url(./images/bg_2_tree_right_01.png) no-repeat left top;
        top: -176px;
        right: -320px;
        z-index: 9996;
        pointer-events: none;
    }
    .tree_sp_right_02 {
        display: none;
    }
    .pc-hyokkori-chiikawa {
        display: block !important;
        animation: animation-hyokkori-chiikawa .8s linear forwards, shake-chiikawa 2s ease 1s infinite normal none;
        right: 9px;
        z-index: 900;
        position: absolute;
        width: 216px;
        height: 259px;
        background: url(./images/bg_chara_01.png) no-repeat left top;
        top: 710px;
    }
    .bg_sp_chara_chiikawa3 {
        display: none;
    }
    .bg_sp_chara_hachi {
        display: none;
        
    }
    .bg_sp_chara_hachi {
        display: none;
    }
    .pc-hyokkori-hachiware {
        animation: animation-hyokkori-hachiware .8s linear forwards, shake-hachiware 2s ease 1s infinite normal none;
        z-index: 9996;
        position: absolute;
        width: 224px;
        height: 266px;
        background: url(./images/bg_chara_02.png) no-repeat left top;
        top: 1418px;
        display: block !important;
    }

    h2 img {
        width: initial;
    }

    .info-list {
        width: 710px;
        margin: auto;
        font-size: 16px;
        line-height: 17px;
    }
    .info-list li {
        padding: 14px 10px 17px;
    }

    .intro-text {
        width: 440px;
        height: 338px;
        margin: auto;
        background: url(./images/tx_intro.png) no-repeat left top/440px 338px;
    }

    .bg_chara_usagi {
        position: absolute;
        width: 219px;
        height: 377px;
        top: 2247px;
    }

    .epi-section {
        padding: 530px 0 120px;
        z-index: 9998;
        position: relative;
    }
    .epi-list {
        width: 710px;
        
    }
    .epi-list li span.epi-number {
        width: 54px;
        height: 52px;
        font-size: 16px;
        background: url(./images/ic_epi_01.png) no-repeat left top/54px 52px;
        font-size: 16px;
        top: -20px;
        left: -20px;
        padding-top: 17px;
    }
    .epi-list li img {
        width: 210px;
    }

    .bg_chara_momo {
        width: 352px;
        height: 279px;
        background: url(./images/bg_chara_04.png) no-repeat left top;
        top: 3050px;
        right: -90px;
        left: initial;
    }

    .chara-wrap {
        padding: 350px 0 100px;
        height: 670px;
        z-index: 9997;
    }
    .chara-list {
        width: 980px;
        margin: 0 auto;
    }
    .chara-list li {
        width: 100%;
    }
    
    .chara-list li img {
        width: 247px;
    }

    .ie_02 {
        z-index: 9998;
        position: absolute;
        width: 1011px;
        height: 1246px;
        background: url(./images/bg_ie_02.png) no-repeat left top;
        top: 3220px;
        display: block !important;
        left: -320px;
    }

    .staff-list, .cast-list {
        font-size: 20px;
    }

    .tree_left_03 {
        display: block !important;
        left: -320px;
        position: absolute;
        width: 744px;
        height: 1015px;
        background: url(./images/bg_2_tree_left_03.png) no-repeat left top;
        top: 4174px;
        z-index: 9997;
    }
    .bg_chara_hachi2 {
        background: url(./images/bg_chara_09_sabun.png) no-repeat top 0 left 0;
        top: 4531px;
        height: 232px;
        width: 198px;
        left: 273px;
        animation: pc-animation-parapara-hachi 1.0s steps(2) infinite;
        z-index: 9995;
    }

    .bg_sp_chara_chiikawa {
        background: url(./images/bg_chara_09_sabun.png) no-repeat top -242px left 0;
        width: 199px;
        height: 259px;
        top: 4974px;
        left: 77px;
        z-index: 9998;
        animation: pc-animation-parapara-chiikawa 1.0s steps(2) infinite;
    }

    .bg_sp_chara_oishii {
        width: 96px;
        height: 160px;
        background: url(./images/bg_chara_05.png) no-repeat left top;
        top: 4670px;
        z-index: 9997;
    }

    .bg_sp_chara_chiikawa2 {
        display: none;
    }

    .bg_sp_chara_usagi2 {
        width: 255px;
        height: 282px;
        background: url(./images/bg_chara_06.png) no-repeat left top;
        top: 5550px;
    }

    .tree_left_04 {
        position: absolute;
        width: 693px;
        height: 3941px;
        background: url(./images/bg_2_tree_left_04.png) no-repeat left top;
        top: 5062px;
        display: block !important;
        left: -320px;
        z-index: 9996;
        pointer-events: none;
    }

    .anime-info-wrap {
        padding: 45px 0 100px;
    }

    .anime-tv, .anime-deli {
        font-size: 19px;
        width: 770px;
    }
    .anime-tv h3 {
        background: url(./images/ic_anime_01.png) no-repeat left top;
        background-size: 100%;
    }
    .anime-tv .tv-box {
        width: 668px;
        height: 62px;
        background: url(./images/tx_anime_01.png) no-repeat left top/668px 62px;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
    }
    .anime-deli h3 {
        background: url(./images/ic_anime_03.png) no-repeat left center;
        background-size: 100%;
        
    }
    .anime-deli .deli-box {
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
        width: 680px;
        height: 95px;
        background: url(../images/tx_anime_02_2.png) no-repeat left top/680px 95px;
    }

    .goods-list img {
        width: 500px;
        height: auto;
    }

    .bg_sp_chara_kuri {
        background: url(./images/bg_chara_10_sabun.png) no-repeat top 0px left 0;
        top: 6623px;
        width: 201px;
        height: 272px;
        right: 35px;
        left: initial;
        animation: pc-animation-parapara-kuri 1.0s steps(2) infinite;
    }

    .dvd-wrap {
        margin-top: 200px;
    }
   
    .swiper {
        max-width: 470px !important;
        padding: 0 150px !important;
    }

    .swiper-box {
        width: 100%;
    }

    .swiper-box .box-title {
        font-size: 20px;
    }

    .box-content p {
        font-size: 20px;
    }

    .swiper-button-next, .swiper-button-prev {
        width: 60px !important;
        height: 60px !important;
        right: 10px !important;
        left: auto !important;
    }

    .swiper-button-prev {
        width: 60px !important;
        height: 60px !important;
        left: 10px !important;
        right: auto;
    }

    .dvd-wrap {
        height: 1108px;
    }


    .twitter-wrap {
        height: 505px;
        width: 556px;
    }

}



/* for large screen */
.pc-hyokkori-chiikawa {
    display: none;
}
.pc-hyokkori-hachiware {
    display: none;
}
.ie_02 {
    display: none;
}
.tree_left_03 {
    display: none;
}
.tree_left_04 {
    display: none;
}
@keyframes pc-animation-parapara-hachi {
    100% {
        background-position: -416px 0;
    }
}

@keyframes pc-animation-parapara-chiikawa {
    100% {
        background-position: -418px -240px;
    }
}

@keyframes pc-animation-parapara-kuri {
    100% {
        background-position: 200% 0px;
    }
}