
body {
    width: 100vw;
    /* min-height: 100vh; */
    margin: 0;
    padding: 0;
    font-family: "vdl-v7marugothic", sans-serif;
    font-weight: 700;
    position: relative;
    color: #462e31;
    line-height: 1;
    
}

/* =================== loader =================== */
.loader-container {
    background-color: #fff;
    width: 100%;
    min-height: 100vh;
    position: relative;
    z-index: 9999;
    transition: .3s;
}

.loader {
    position: absolute;
    top: 30%;
    left: 28%;
}

.loader-text-1 {
    position: absolute;
    top: 65%;
    left: 67%;
    transform: translate(-10%, 40%);
    opacity: 0;
    animation: pop-in 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) .5s forwards;
}

.loader-text-2 {
    position: absolute;
    top: 3%;
    left: 5%;
    transform: translate(10%, 10%);
    opacity: 0;
    animation: pop-in 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) .8s forwards;
}

@keyframes pop-in {
    from {
        width: 50px;
        height: 50px;
        opacity: 0;
    }

    to {
        width: 130px;
        height: 130px;
        opacity: 1;
    }
}

/* =================== main wrapper =================== */

#main {
    display: none;
}

.wrapper-main {
    animation: fadeInOut 1s linear 0s 1 forwards;
    opacity: 0;
    position: relative;
    max-width: 100vw;
}

.wrapper-main h1 {
    margin-top: 0;
    text-align: center;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}


/* =================== header =================== */
header {
    position: fixed;
    z-index: 9998;
    background-color: #fff;
    font-weight: 700;
    min-width: 100vw;
    top: 0;
    left: 0;
}

.header-wrapper {
    display: flex;
    position: relative;
    width: 100%;
}

header h1 {
    text-align: center;
    height: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1 img {
    margin: auto;
    width: 132px;
    height: 33px;
}

.menu-btn {
    background-image: url("./images/tx_menu_01.png");
    background-size: 26px 8px;
    background-position: left 0px bottom 10px;
    background-repeat: no-repeat;
    z-index: 9999;
    background-color: #fff;
    position: absolute;
    right: 0;
    height: 60px;
    width: 55px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.menu-wrapper {
    position: relative;
    width: inherit;
    height: inherit;
}

.menu-btn span {
    display: block;
    height: 4px;
    width: 25px;
    border-radius: 4px;
    background-color: #ff96d2;
    position: absolute;
    bottom: 33px;
}

.menu-btn span:before {
    content: '';
    display: block;
    height: 4px;
    width: 25px;
    border-radius: 4px;
    background-color: #ff96d2;
    position: absolute;
    bottom: 8px;
}

.menu-btn span:after {
    content: '';
    display: block;
    height: 4px;
    width: 25px;
    border-radius: 4px;
    background-color: #ff96d2;
    position: absolute;
    top: 8px;
}

/* =================== banner =================== */

.banner {
    position: relative;
    background: url("./images/banner.jpeg");
    min-height: 100vh;
    min-width: 100vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.twitter-link-container {
    position: absolute;
    top: 4rem;
    left: .6rem;
}

.twitter-link img {
    width: 103px;
    height: auto;
}

.movie-container {
    background: url("./images/bt_kv_03.png") no-repeat left top/198px 160px;
    width: 198px;
    height: 160px;
    position: absolute;
    bottom: 4rem;
    right: .5rem;
}
.movie-container:after {
    z-index: 9996;
    position: absolute;
    display: inline-block;
    content: '';
    bottom: -5px;
    right: 0px;
    width: 68px;
    height: 65px;
    background: url(./images/bt_kv_04.png) no-repeat top left/68px 65px;
}

.video-modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-modal-content {
    position: relative;
    margin: 0;
}

.video-modal-close {
    position: absolute;
    right: 0;
    top: -55px;
    font-size: 1rem;
    font-weight: bold;
    color: #888;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    display: block;
}

.movie-content {
    position: relative;
    width: 109px;
    height: 61.31px;
}

.video-modal-trigger {
    background-image: url("./images/mqdefault.jpeg");
    display: block;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    position: absolute;
    top: 85px;
    left: 45px;
    cursor: pointer;
}

.video-modal-trigger:after {
    position: absolute;
    display: inline-block;
    content: '';
    top: 18px;
    right: 41px;
    width: 25px;
    height: 25px;
    background: url(./images/bt_youtube.png) no-repeat top left/25px 25px;
}

/* =================== main =================== */
main {
    position: relative;
    border-top: solid 3px #5f3e42;
    background: url("./images/bg_03_sp.jpeg") no-repeat center ;
    max-width: 100%;
}

.tree_sp_left_01 {
    background: url("./images/bg_2_tree_sp_left_01.png") no-repeat left top/122px 834px;
    position: absolute;
    top: -37px;
    left: 0px;
    width: 122px;
    height: 834px;
}
.tree_sp_right_01 {
    background: url("./images/bg_2_tree_sp_right_01.png") no-repeat left top/129px 300px;
    position: absolute;
    top: -41px;
    right: 0px;
    width: 129px;
    height: 300px;
}
.tree_sp_right_02 {
    background: url("./images/bg_2_tree_sp_right_02.png") no-repeat left top/224px 5978px;
    position: absolute;
    top: 172px;
    right: 0px;
    width: 224px;
    height: 5978px;
    z-index: 910;
}
.bg_sp_chara_chiikawa3 {
    background: url("./images/bg_chara_01.png") no-repeat left top/58px 70px;
    z-index: 905;
    position: absolute;
    width: 58px;
    height: 70px;
    top: 178px;
    right: 87px;
    animation: animation-hyokkori-chiikawa .8s linear forwards, shake-chiikawa 2s ease 1s infinite normal none;
    opacity: 1;
}

@keyframes animation-hyokkori-chiikawa {
    0% {
        transform: scale(.1, .1);
    }
    25% {
        transform: translate(-30%, -60%) scale(1.0, 1.2);
    }
    40% {
        transform: translate(-30%, -60%) scale(1.3, .8);
    }
    55% {
        transform: translate(-30%, -60%) scale(1.0, 1.2);
    }
    70% {
        transform: translate(-30%, -60%) scale(1.2, .9);
    }
    85% {
        transform: translate(-30%, -60%) scale(1, 1.1);
    }
    100% {
        transform: translate(-30%, -60%) scale(1, 1);
    }
}
@keyframes shake-chiikawa {
    0% {
        transform-origin: 150% 150%;
        transform: translate(-30%, -60%) rotate(0deg);
    }
    50% {
        transform-origin: 150% 150%;
        transform: translate(-30%, -60%) rotate(-7deg);
    }
    100% {
        transform-origin: 150% 150%;
        transform: translate(-30%, -60%) rotate(0deg);
    }
}

/* =================== youtube content =================== */
.youtube-content {
    padding: 230px 0 80px;
    height: 425px;
    z-index: 915;
    position: relative;
}
.youtube-content h2 {
    text-align: center;
}
.youtube-content h2 img{
    width: 218px;
    height: auto;
    vertical-align: top;
}

.video-list {
    width: 345px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0 auto -5px;
    text-align: center;
    flex-wrap: wrap;
    padding: 0;
}

.video-list li {
    width: 140px;
    background-color: #fff578;
    position: relative;
    border-radius: 8px;
    padding: 12px 12px 8px 12px;
    margin-bottom: 1rem;
}
.youtube_list li:nth-of-type(odd) {
    margin-left: 0;
}

.yt-list-btn {
    padding-top: 56.25%;
    width: 100%;
    position: relative;
    cursor: pointer;
}
.yt-list-btn:after {
    position: absolute;
    display: inline-block;
    content: '';
    width: 30px;
    height: 30px;
    background: url(./images/bt_youtube.png) no-repeat left top/30px 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#btn-1 {
    background: url("./images/mqdefault_1.jpeg");
    background-size: cover;
    background-position: center center;
}

#btn-2 {
    background: url("./images/mqdefault_2.jpeg");
    background-size: cover;
    background-position: center center;
}

#btn-3 {
    background: url("./images/mqdefault_3.jpeg");
    background-size: cover;
    background-position: center center;
}

#btn-4 {
    background: url("./images/mqdefault_4.jpeg");
    background-size: cover;
    background-position: center center;
}

.video-list li .date {
    margin: 5px 0 5px;
    font-size: 8px;
    letter-spacing: 0.05em;
    text-align: left;
}

.video-list li .date span {
    font-size: 6px;
    padding: 0 3px;
}

.video-list li .yt-title {
    font-size: 12px;
    line-height: 1.3;
    font-weight: 800;
    text-align: left;
}

.video-list li:first-child:after {
    position: absolute;
    display: inline-block;
    content: '';
    top: -12px;
    left: -12px;
    width: 49px;
    height: 46px;
    background: url(../images/ic_new.png) no-repeat top left/49px 46px;
}

.see-all-yt {
    font-weight: 800;
    text-align: center;
    margin: 45px auto 0;
}

.see-all-yt a{
    padding: 12px 51px;
    border-radius: 100px;
    font-size: 14px;
    text-decoration: none;
    background-color: #462e31;
    color: #fff;
    letter-spacing: 0.25em;
}